name: Build and Pack for Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Save a zip of the build project
        id: zip
        uses: ataylorme/npm-pack-zip-action@1.0.0
      # Upload the npm zip artifact
      - uses: actions/upload-artifact@v1
        with:
          name: kick-viewer-rotator
          path: ${{ steps.zip.outputs.zip-path }}
