name: Build and Pack for Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Create npm package zip
        id: zip
        uses: ataylorme/npm-pack-zip-action@1.0.0
      - name: Upload package artifact
        id: upload
        uses: actions/upload-artifact@v1
        with:
          name: kick-viewer-rotator
          path: 'kick-viewer-rotator.zip' # Uploads the generated zip file
