name: Build and Pack for Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Create npm package zip
        uses: ataylorme/npm-pack-zip-action@v1 # Or the latest version
      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: kick-viewer-rotator
          path: '*.zip' # Uploads the generated zip file