name: Build and Pack for Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Create npm package zip
        uses: npm-pack-zip # Or the latest version
        with:
          path: './' # Optional: specify the path to your package if not the root
      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-package-zip
          path: '*.zip' # Uploads the generated zip file